<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
		<commands>
			<command name="mindshift:dynamiclayoutdetails" type="Mindshift.SC9.DynamicLayoutDetails.Commands.DynamicLayoutDetailsDialogCommand,Mindshift.SC9.DynamicLayoutDetails" role:require="Standalone or ContentManagement" />
		</commands>
  </sitecore>
</configuration>
