<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
		<api>
			<services>
				<configuration>
					<allowedControllers>
						<allowedController desc="PackageInstallerController" role:require="Standalone or ContentManagement">
              Mindshift.SC9.PackageInstaller.Controllers.PackageInstallerController,Mindshift.SC9.PackageInstaller
            </allowedController>
					</allowedControllers>
				</configuration>
			</services>
		</api>
  </sitecore>
</configuration>
